/* * {
  margin: 0px;
  padding: 0px;
}
H1 {
  text-align: center;
} */

.box {
  height: 300px;
  width: 300px;

  margin-left: 200px;
  border-radius: 50%;
}
button {
  width: 50px;
  margin-left: 200px;
  margin-top: 50px;
}
