* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}
.header {
  width: 100%;
  box-shadow: 0px 2px 10px 0px #ccc;
  display: flex;
}
.headerLeft {
  width: 45%;
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
  align-items: center;
}
.headerRight {
  width: 48%;
  display: flex;
}
.menu {
  display: flex;
}
.menu ul {
  display: flex;

  gap: 50px;
  font-weight: bold;
}
.HeaderRight form {
  width: 70%;
  display: flex;
}
