p{
    background-color: aliceblue;
    text-align: center;
    color: blueviolet;
    font-size: 20px;
    word-spacing: 4px;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: sans-serif;
}