.app-container {
  display: flex;
  width: 100%;
}
.search::placeholder {
  color: white;
}

.content {
  flex: 1;
  min-width: 0;
  overflow-x: hidden;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 15px;
}
.reactions {
  width: 100%;
}
.createPost {
  width: 80%;
  margin: 30px;
}
.welcome-message {
  margin-top: 20px;
}
