/* P{
    font-size: 30px;
    color: red;
} */


/* .main p{
    color: rgb(24, 101, 168);
} */


/* .main :first-child{
    color: brown;
    font-size: 50px;
} */


/* .main p:nth-child(2){
    color: #08c505;
    font-size: 40px;
} */


